<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<property name="LOG_PATH" value="/home/logs/kafka_services/" />
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %level %logger{35} - %msg%n" />

	<appender name="Kafka_ConsumerLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/kafka_consumer.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/archived/application_%d{dd-MM-yyyy}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<logger name="gov.nic.eap" additivity="false">
		<appender-ref ref="Kafka_ConsumerLog" />
	</logger>
	<root level="error">
		<appender-ref ref="Kafka_ConsumerLog" />
	</root>
	
</configuration>